<html>
  <head>
    <title>TV Show</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  
  <body class= "p1"style = "background-color: #9CE0EA">
    <h1 align = "center">Which Childhood TV Show are You?</h1>
    <hr widdth= "50%">
  <p align = "center">Have you ever thought you belonged in one of your favorite shows? Or wished you could be part of a fictional family? Play this quiz to reveal which show to which you truly belong?</p>
      
      
      
<form  method = "post" action = "respond"> 
  <div class = "first"> <img align = "left" src= "https://i.ytimg.com/vi/Hg-3VIEeQkU/hqdefault.jpg"
  height = "160 px" width = "160 px">
  <img align = "right" src = "https://img.buzzfeed.com/buzzfeed-static/static/2018-02/22/12/asset/buzzfeed-prod-fastlane-03/sub-buzz-7053-1519320672-9.jpg?downsize=715:*&output-format=auto&output-quality=auto" 
  height = "160px" width = "160px"></div>
  <div align = "center"><h3>How would you describe yourself?</h3>
  <input type="radio" name="describe" value="a"> Quirky<br>
  <input type="radio" name="describe" value="b"> Mischievious<br>
  <input type="radio" name="describe" value="c"> Lazy<br>
  <input type="radio" name="describe"
value= "d">Creative<br><input type="radio" name="describe"
                              value= "e">Busy<br><br> </div>
  
  <div align = "Center"> 
  <h3>What's your favorite food to eat?</h3>
  <input type="radio" name="food" value= "a">Bibble<br><input type="radio" name="food" value="b">Room Service<br><input type="radio" name="food" value="c">Sandwiches<br><input type="radio" name="food" value="d">Spaghetti tacos<br><input type="radio" name="food" value="e">Sweet Niblets<br><br></div>
  <div class = "third">
    <img class = "ppp" src="https://images-production.freetls.fastly.net/uploads/photos/file/55991/princess-protection-program.jpg" height="160px" width="160px" align="right"> <img  class = "cat"src="https://i.pinimg.com/originals/03/a0/8f/03a08f2740e9f298d10402cb0ea9e11c.gif"height="160px" width="160px" align="left"></div>
  <div align = "center"><h3>Which 2000s movie is on your re-watch list?</h3><input type="radio" name="movie" value="a">Kung Fu Panda<br><input type="radio" name="movie" value= "b">Lemonade Mouth<br><input type="radio" name="movie" value="c">Princess Protection Program<br><input type="radio" name="movie" value="d">Soul Surfer<br><input type="radio" name="movie" value="e">Cadet Kelly<br><br>
  </div>
  <div align = "center">
 <h3>What extracurricular would you love to do?</h3> 
  <input type="radio" name="love" value="a">Show Choir<br><input type="radio" name="love" value="b">Any sport<br><input type="radio" name="love" value="c">Detention<br><input type="radio" name="love" value="d">Film-making<br><input type="radio" name="love" value="e">Surfing<br><br></div>
  <div class = "fifth">
   <img  src="https://media.giphy.com/media/oQSSpC0WEbRpS/giphy.gif" height="190px" width="160px" align="left"><img src="http://24.media.tumblr.com/3ecd21e1eca66429fb4ea9a6d4fbba65/tumblr_mjtucaNlAt1s2dfdzo1_500.gif" height="190px" width="160px" align="right">
  
   <div align = "center"><h3>Which character is your best friend most like?</h3><input type="radio" name="bff" value="a">Cat from Victorious<br><input type="radio" name="bff" value="b">London Tipton from the Suite Life of Zach and Cody<br><input type="radio" name="bff" value="c">Harper from Wizards of Waverly Place<br><input type="radio" name="bff" value="d">Sam from iCarly<br><input type="radio" name="bff" value="e">Lilly from Hannah Montana<br>
   <br></div><div align = "center">
     <a href = "respond">
     <input type = "submit" value= "submit">
     </a>
     </div>
</form></html>
   
   