<html>
  <head>
    <title> blast to the past</title><link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
   
    <body class= "guessage">
   <div align="center">
        <div class="wrapper">
 <br><br><br>   <h1 align="center">BLAST TO THE PAST</h1><hr width = "50%">
    <br><br>
    
    <p><h2 align="center"> Hi!! Welcome to Blast to the Past!! Here you can find quizzes to test your memory, to reveal the tv show destined for you, and to guess your age. Pick a quiz and get started!
 </h2> </p>
    <br><br><br>
<img  class = "guess" align="left" src="https://i.ytimg.com/vi/wjMtg7VHZIY/maxresdefault.jpg" height="290px" width="300px"><br>
  
  
   
    
    <img class = "show" align = "right" src="http://cupcast.com/my/wp-content/uploads/sites/8/2018/01/How-many-friends-do-you-have.png" height="280px"
         width="300px">
    
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><h3 class = "age" align = "left"><a href="index1">Let's guess your age quiz</a></h3> 
     <h3 class = "ask" align = "right"><a href="index">What TV show are you quiz</a></h3>
     
    </div>
        </body> 
    
  
  
</html>

