<html>
  <head><title>guess age</title><link rel="stylesheet" type="text/css" href="css/style.css"></head>
  <body class = "guessage"style = "background-color: aquamarine">
    <h1 align = "center">Can We Guess Your Age?</h1>
    <hr width = "50%">
    <form method = "post" action = "respond2">
      <div> <img src="https://images-na.ssl-images-amazon.com/images/I/71H%2BOzMai6L._SL1500_.jpg" height="150px" width="150px" align="right">
      <h3> You made shrinky dinks.</h3>
  <input type="radio" name="shrink" value="t"> True<br>
        <input type="radio" name="shrink" value="f"> False<br></div>
      
  <div>    
  <h3>You went to Blockbuster Video whenever you had a sleepover.</h3>
   <input type="radio" name="video" value="t"> True<br>
    <input type="radio" name="video" value="f"> False<br> </div>
      
   <div> <img src="https://static.giantbomb.com/uploads/scale_small/0/176/1479554-justdance_550x328.jpg" height="150px" width="150px" align="right">  
   <h3>You got the original Just Dance for Christmas/birthday/some holiday.</h3><input type="radio" name="dance" value="t"> True<br>
     <input type="radio" name="dance" value="f"> False<br> </div>
      
  <div>    <h3>You had Netflix when they mailed the movies to you.</h3><input type="radio" name="netflix" value="t"> True<br>
    <input type="radio" name="netflix" value="f"> False<br> </div>
      
 <div> <img src="https://www.academy.ca/wp-content/uploads/2018/01/24972-Max-Ruby.jpg" height="150px" width="150px" align="right">   
 <h3>You woke up every morning excited to watch "Max and Ruby."</h3><input type="radio" name="max" value="t"> True<br>
   <input type="radio" name="max" value="f"> False<br> </div>
      
  <div>    <h3>You got your ears pierced at Claire's.</h3><input type="radio" name="ears" value="t"> True<br>
    <input type="radio" name="ears" value="f"> False<br> </div>
      
 <div> <img src="https://gosk8.ie/12546-large_default/heelys-uptown-blackred-super-mesh-he100082.jpg" height="150px" width="150px" align="right">   
 <h3>You were yelled at for wearing Heelys in school.</h3><input type="radio" name="heelys" value="t"> True<br>
   <input type="radio" name="heelys" value="f"> False<br> </div>
      
  <div>    <h3>The first Youtube video you watched was "I'm a Gummy Bear."</h3><input type="radio" name="gummy" value="t"> True<br>
    <input type="radio" name="gummy" value="f"> False<br> </div>
      
  <div> <img src="https://vignette.wikia.nocookie.net/phantomstrider/images/f/f5/764full-the-high-fructose-adventures-of-annoying-orange-screenshot.jpg/revision/latest?cb=20170226140531" height="150px" width="150px" align="right">   
  <h3>Or Annoying Orange</h3><input type="radio" name="orange" value="t"> True<br>
    <input type="radio" name="orange" value="f"> False<br> </div>
      
 <div>     <h3>You were shook when Fred was on iCarly.</h3><input type="radio" name="fred" value="t"> True<br>
   <input type="radio" name="fred" value="f"> False<br> </div>
      
  <div> <img src="http://media.beliefnet.com/~/media/photos/entertainment/music/christian-music/galleries/jonas-brothers/jonasbrotherspic2.jpg?as=1&w=600" hight="150px" width="150px" align="right">  
  <h3>The Jonas Brothers was the first band you adored.</h3><input type="radio" name="band" value="t"> True<br>
    <input type="radio" name="band" value="f"> False<br> </div>
      
  <div>    <h3>You always wanted a flip phone.</h3><input type="radio" name="flip" value="t"> True<br>
    <input type="radio" name="flip" value="f"> False<br> </div>
    
<div> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/NintendoDS_Warm.jpg/1200px-NintendoDS_Warm.jpg" height="150px" width="150px" align="right">   
<h3>Your first electronic was a DS.</h3><input type="radio" name="ds" value="t"> True<br>
  <input type="radio" name="ds" value="f"> False<br></div>
      
  <div>    <h3>You spent hours playing Webkinz.</h3><input type="radio" name="webkinz" value="t"> True<br>
    <input type="radio" name="webkinz" value="f"> False<br> </div>
      
  <div> <img src="https://s1.favim.com/orig/22/color-colorful-fashion-photography-silly-bandz-Favim.com-212190.jpg" height="150px" width="150px" align="right"> 
  <h3>You still have silly bands around the house.</h3><input type="radio" name="silly" value="t"> True<br>
    <input type="radio" name="silly" value="f"> False<br> </div>
      
 <div>     <h3>You begged your parents for Japanese erasers, but they were "too expensive."</h3><input type="radio" name="eraser" value="t"> True<br>
   <input type="radio" name="eraser" value="f"> False<br> </div>
      
 <div> <img src="https://lh3.googleusercontent.com/YpIlLMpA6JOQt0U_JhIbTKmhy-N8ExZAPvcnR8k4TKwC4RuB_HCzk7whF-pu47XYtnI=s180" height="150px" width="150px" align="right">  
 <h3>You spent hours trying to beat your friends on Temple Run.</h3><input type="radio" name="temple" value="t"> True<br>
   <input type="radio" name="temple" value="f"> False<br> </div>
      
  <div>    <h3>All of your iPod music was from burned CDs.</h3><input type="radio" name="music" value="t"> True<br>
      <input type="radio" name="music" value="f"> False<br><h3>You had an Orbeez spa.</h3><input type="radio" name="spa" value="t"> True<br>
      <input type="radio" name="spa" value="f"> False<br></div>
      
  <div>  
  <img class = "wizard" src="https://cdn1.edgedatg.com/aws/v2/dch/WizardsofWaverlyPlace/showimages/77ccc94bf6c893b2ee76165774dea1c3/1200x627-Q80_77ccc94bf6c893b2ee76165774dea1c3.jpg" height="150px" width="150px" align="right">  
  <h3>You stopped watching Disney once Hannah was exposed, Alex was a wizard, and the Sprouse twins graduated.</h3>
  <input type="radio" name="disney" value="t"> True<br>
    <input type="radio" name="disney" value="f"> False<br></div> <br>
      <a href = "respond2">
        <input type = "submit" value= "submit"></a>       
</form>
        
        
       
</body>
</html>